[2017-03-31 02:05] jsm174 opened #1 "Docker-In-Docker daemon proxy settings"
Is it possible to set proxy settings for the docker-in-docker daemon when starting the agent?

For example when I run the agent:

`docker run --rm -it -e SERVER_URL="<server>" -e AGENT_NAME="<agent>" -e GIT_SSL_NO_VERIFY=1 -v agent:/data/teamcity_agent/conf --privileged -e DOCKER_IN_DOCKER="start" jetbrains/teamcity-agent`

I have to bash in:

`docker exec -i -t <container id> /bin/bash`

And then

[2017-05-11 11:10] angularsen opened #2 "Agent on Docker for Windows?"
Hi, is there any way to run a similar TeamCity build agent on a Windows host using Docker? Or any plans for this?

I haven't found a lot of resources on running Windows based build-agents on docker, let alone TeamCity agents.

Some sources for msbuild on Windows:
http://blog.alexellis.io/3-steps-to-msbuild-with-docker/
https://github.com/Microsoft/dotnet-framework-docker/issues/2

[2017-05-23 12:10] yhrunyk commented on #2
+1 I would like to use Docker container based on Windows as a TeamCity build agent.

[2017-07-10 08:35] Vertygo commented on #2
+1 for the windows agent.

[2017-07-27 15:44] bduisenov opened #3 "Adding docker-compose to agent"
Hi, I'm running some integration tests through `gradle` which in turn start `docker-compose` services. As for now, I'm getting an error during the build which tells that `docker-compose` was not found.

How do I install `docker-compose` command into TC agent?

[2017-07-27 15:53] VladRassokhin commented on #3
You can create your own docker image based on 'jetbrains/teamcity-agent' one with software you need.

[2017-07-27 16:02] bduisenov commented on #3
@VladRassokhin thanks for a quick response. I'm currently in the process of doing this.
Do you have this in roadmap?

[2017-07-30 16:12] VladRassokhin commented on #3
No, so far there's no plan to include docker-compose into image.

[2017-08-14 10:17] acken opened #4 "Docker client version in agent is too old for docker hub"
When trying to do something like docker pull registry.hub.docker.com/library/mono in a custom build script it will fail with "could not reach any registry point". Reason seems to be that any docker client version from 1.5 and down is no longer supported by the docker hub registry.

[2017-08-14 13:59] acken commented on #4
Never mind I did not RTFM.... :\

[2017-08-14 13:59] #4 closed, assigned to nobody

[2017-08-20 21:32] repi commented on #2
+1 here also for Windows agent, would be great

[2017-08-30 13:33] daghb commented on #2
+1 from me, too.
I've tried to set up build agents on nano server, but have problems with socket connections. Follow the forum thread on https://teamcity-support.jetbrains.com/hc/en-us/community/posts/115000548404-Problems-running-agent-on-Nano-Server. If I succeed, I will post a recipe.

[2017-08-30 15:33] daghb commented on #2
A first shot for a Build Agent on either Nano Server or Windows Server Core is availale at https://github.com/daghb/tcagent-nanoserver

[2017-09-02 15:47] 90K2 opened #5 "Agent doesn't start"
Hello.  I have some problem with starting buildAgent.
Inside the container begins infinity loop after start.

That is how i start container:
`docker run -itd -e SERVER_URL="http://teamcity.domain.com" -v /opt/tc_agent/:/data/teamcity_agent/conf -p 0.0.0.0:9090:9090 jetbrains/teamcity-minimal-agent`

Seems that each loop cycle finishing with

[2017-09-02 15:39:59,533]   INFO - rocesses.ProcessTreeT

[2017-09-03 21:11] VladRassokhin commented on #5
At least single upgrade is normal since agent has to download plugins from server.
Though constant upgrade may be caused by many reasons.

Please provide full agent logs, they could be found in `/opt/buildagent/logs` inside instance.
You could either share them as gist or send to our feedback email.

[2017-09-05 12:57] WhatAKitty commented on #5
@VladRassokhin I had same error.

this is my logfile:
[teamcity-agent.log.zip](https://github.com/JetBrains/teamcity-docker-agent/files/1277453/teamcity-agent.log.zip)

[2017-09-05 16:28] VladRassokhin commented on #5
Looks like while agent exits for restart (performing upgrade) some other process starts it again, and history repeats

[2017-09-06 02:25] WhatAKitty commented on #5
@VladRassokhin Can you help me? Why it happened.

[2017-09-07 11:04] pavelsher commented on #5
Please attach all log files from this agent.

[2017-09-10 09:57] WhatAKitty commented on #5
@pavelsher hey, thanks for your helping, this is the log the team agent generated.

[logs.zip](https://github.com/JetBrains/teamcity-docker-agent/files/1290418/logs.zip)

[2017-09-11 09:44] pavelsher commented on #5
Relevant part of the log:
[2017-09-05 15:00:26,925]  DEBUG - buildServer.agent.LauncherUtil - Deleting /opt/buildagent/lib/spring-scripting
[2017-09-05 15:00:26,925]  DEBUG - buildServer.agent.LauncherUtil - Deleting /opt/buildagent/lib/spring-scripting/spring-scripting-bsh.jar
[2017-09-05 15:00:26,925]  DEBUG - buildServer.agent.LauncherUtil - Deleting /opt/buildagent/lib/spring-scripting/spring-

[2017-09-11 10:58] WhatAKitty commented on #5
@pavelsher
this is my docker info:
[code]

the agent start command is :
[code]

[2017-09-12 08:16] pavelsher commented on #5
We reproduced problem on Cent OS: https://youtrack.jetbrains.com/issue/TW-51501

[2017-09-12 09:39] burnasheva commented on #2
We're planning to release the official TeamCity Windows Docker image soon.
Please, watch\vote for the feature in our YouTrack - https://youtrack.jetbrains.com/issue/TW-47392.

[2017-09-12 10:42] pavelsher commented on #5
So the problem is not TeamCity specific, seems there is some bug in CentOS itself. Some related discussions: https://github.com/moby/moby/issues/27214
It looks like newer version of CentOS should not have this problem. Also reportedly problem does not reproduce in case of ext4 file system. Anyway, there is nothing to fix on our side.

[2017-09-12 10:42] #5 closed, assigned to nobody

[2017-09-26 17:53] dtretyakov commented on #2
Now we have experimental windows docker images for latest teamcity eap build: https://hub.docker.com/r/jetbrains/teamcity-agent/

Feel free to share feedback.

[2017-09-26 17:53] #2 closed, assigned to nobody

[2017-10-10 12:22] fouadroumieh commented on #3
Can someone please elaborate on how to solve this issue? because I'm getting the same.

[2017-10-10 12:43] VladRassokhin commented on #3
@fouadroumieh create new docker image based on `jetbrains/teamcity-agent:latest` one with additional `RUN` steps which would install docker-compose.

[2017-10-11 18:45] fouadroumieh commented on #3
@VladRassokhin I managed to install docker-compose, but now the step goes always successful after execution, even if I put wrong yml file name!

[2017-10-18 14:39] ghost commented on #2
I have been doing some research on Teamcity and Docker and came across multiple blog posts, "wild Dockerfiles" and the likes to be able to use MSBuild and the .NET framework in Docker. Since I saw this issue as well I'd like to ask a question in order to see whether I understand the images correct.

I am working on a solution that consists of multiple C# projects (.NET 4.7), native C++ application

[2017-10-18 16:08] dtretyakov commented on #2
@NearAutomata, due to licensing policy we could not provide agent image with MSBuild and tools pre-installed, but you could create derived image from our `windowsservercore` image.

In this case your `Dockerfile` will look like that:
[code]

Sample steps to install required build tools you could find in the [following Dockerfile](https://github.com/JetBrains/teamcity-docker-agent/blob/master/windo

[2017-10-18 19:52] ghost commented on #2
Thanks for the followup. I just noticed I will be running into problems since working with MSBuild requires a Windows agent Docker image that cannot be executed on a Linux machine since it requires Hyper-V and thus a Windows host. I'll need to reconsider how I can run a build agent otherwise but it seems I need a Windows machine for that nonetheless.

[2017-10-18 20:25] daghb commented on #2
@NearAutomata, you may find a few hints on installing MSBuild onto a windowsservercore or nanoserver image on https://github.com/daghb/tcagent-nanoserver. The process is not entirely self explaining, but you may shave off some study time by looking into this [Dockerfile](https://github.com/daghb/tcagent-nanoserver/blob/master/build/step4/Dockerfile) (lines 28-34) and [installMSBuildTools.ps1](http

[2017-10-18 20:54] ghost commented on #2
Is it actually reasonable, to not consider building a MSBuild docker agent right away, to install local agents on development machines themselves and not other servers since I only have access to Linux based servers?

[2017-10-18 20:58] daghb commented on #2
Not sure if I understand, @NearAutomata - but you can use exactly the same approach building agent images running on local Windows based developer machines. However, if you are building .NET Framework based applications, your only option server side is basing your image on windowsservercore, not nanoserver.

[2017-10-18 21:11] ghost commented on #2
My question is, whether it's reasonable to install build agents (either natively or via Docker) on *local* machines I am developing on rather than in the *cloud* as I initially expected.

[2017-10-18 21:21] daghb commented on #2
It is reasonable to install them locally if you are running Linux only in the cloud with MSBuild based projects. I cannot see any way around that if you may only use one provider with Linux only servers. On our site, we are on AmazonWS with a Windows 2016 Server host running Windows Server Core containers.

[2017-11-14 14:28] dhatawesomedude commented on #3
@fouadroumieh did you make any progress with this?

[2017-11-14 21:31] fouadroumieh commented on #3
@dhatawesomedude  not really, it was kind of PoC work and I didn't go further with that.

[2017-11-24 14:24] marat-safin commented on #3
In case if you are still looking for solution, here is my variant. I added compose to agent like this:
[code]

[2017-11-30 12:00] dtretyakov opened #8 "Install docker client in Windows images"
Currently no docker executable included in them.

Possible ways to get access to the docker daemon in container: https://github.com/JetBrains/teamcity-docker-agent#expose-docker-engine-to-container

[2017-12-05 11:41] gjelenc opened #10 "JavaFX Maven build"
When agent is building maven goal package it reports that the following packages does not exists:
- javafx.application
- javafx.fxml
- javafx.scene
- javafx.stage
- javafx.event

Agent parameters:
docker.server.osType 	 linux
docker.server.version 	 17.09.0
docker.version 	 17.06.0
teamcity.agent.hardware.cpuCount 	 6
teamcity.agent.hardware.memorySizeMb 	 11845
teamcity.agent.home.dir 	 /opt/buil

[2017-12-06 16:37] thehufbro commented on #5
For anyone who runs into this...
Docker tries to use the default storage driver ("overlay2", or "overlay")
If you are stuck in an upgrade loop with issue's on deleting files you can try changing the storage driver for docker to either vfs or devicemapper, but vfs is recommended over devicemapper, since it is known to be slow.
as Per: https://docs.docker.com/engine/userguide/storagedriver/selectadr

[2017-12-18 02:22] braunsonm opened #11 "Adding .NET Core to the Ubuntu builds"
Are their plans to add .NET Core to the Ubuntu images? Seems to make sense to allow the build there as well.

[2017-12-18 14:36] VladRassokhin commented on #10
Adding JavaFX would increase image size by about 100Mb, so I'd prefer to avoid doing that.
I could suggest you to make new image based on 'jetbrains/teamcity-agent' with following Dockerfile
[code]

[2017-12-29 21:29] braunsonm commented on #11
Thank you @dtretyakov is this resolved?

[2018-01-09 17:08] dtretyakov commented on #11
@ChaosCA, it will be available in the next version of TeamCity docker images.

[2018-01-12 16:51] stokito commented on #3
I also thought that if Docker is supported then Docker compose should be too. But on agent's page in  "Incompatible configurations" I see my build with note: "Unmet requirements: dockerCompose.version exists".

I solved the problem by manually installing docker compose inside agent container:
[code]
You might need to go to agents page and authorize the agent again.

Hope this helps

[2018-01-26 10:39] lorddaedra opened #12 "Update docker-engine"
Please, update Docker. Your current version is outdated (little) and doesn't support commands like ```cat /data/teamcity_agent/conf/gcloud.service-key | docker login -u _json_key  --password-stdin https://gcr.io```

[2018-01-26 10:39] lorddaedra commented on #12
( --password-stdin  )

[2018-01-27 02:48] lorddaedra commented on #12
@shkate I see, you are maintainer of Dockerfile, can you update Docker from `17.06.0~ce-0~ubuntu` to `17.12.0~ce-0~ubuntu`, please? Looks like it's latest version of Docker, available to Ubuntu LTS.

Here https://github.com/JetBrains/teamcity-docker-agent/blob/master/ubuntu/Dockerfile#L21

[2018-01-29 11:13] mykolapolonskyi commented on #12
this issue https://github.com/docker/for-mac/issues/1827 also can be additional reason to update the 17.06.0-ce
(have catch it when set up teamcity and trying integrate in with local docker registry)

[2018-01-29 21:11] #12 closed, assigned to nobody

[2018-01-29 21:13] VladRassokhin commented on #12
Hopefully would be in 2017.2.2

[2018-01-31 20:03] dtretyakov commented on #11
@ChaosCA, new images were pushed to docker hub

[2018-01-31 20:03] #11 closed, assigned to dtretyakov

[2018-01-31 20:11] dtretyakov commented on #2
Since TeamCity 2017.2.2 agent image includes MS Build Tools and all images support windows 1709 docker containers.

[2018-02-01 00:07] bzier commented on #2
@dtretyakov Back in October, you had mentioned that there was a licensing policy issue with including MS Build Tools. I'm just curious if that has since changed. Did MS change their licensing policy for the build tools with respect to Docker images? Did you guys work something out with them?

[2018-02-01 09:04] dtretyakov commented on #2
@bzier, yes, now MSFT [allows to install MS Build in containers](https://blogs.msdn.microsoft.com/heaths/2017/09/18/installing-build-tools-for-visual-studio-2017-in-a-docker-container/#div-comment-64385) and even provides [docker image with pre-installaled build tools](https://hub.docker.com/r/microsoft/dotnet-framework-build/) on top of which we have rebased our `jetbrains/teamcity-agent` `-windo

[2018-02-01 18:29] bzier commented on #2
@dtretyakov Awesome, that means less maintenance for all of us. I'll rebase our image on your latest, which will allow me to clean up the MS Build install steps in our Dockerfile. Thanks for the update and the information.

[2018-02-01 20:40] gaydenko opened #13 "Examples for SERVER_URL"
Please, provide examples for SERVER_URL value at the case both client and server containers are managed by the same docker.

[2018-02-02 08:28] dtretyakov commented on #13
@gaydenko, you could specify the same URL which you use to access TeamCity server from your browser.
If you're using docker compose to start containers you could take a look at the following samples:
https://github.com/JetBrains/teamcity-docker-samples

[2018-02-02 09:29] gaydenko commented on #13
Aha, I see, thanks! I still guess it would be handy to add a ref to `docker-compose.yml` or/and to metntion `--link` flag of `run` agent's command.

[2018-02-02 09:29] #13 closed, assigned to nobody

[2018-02-02 13:22] peshay opened #14 "add additional configuration settings"
I want to configure with environment variables also the ownAddress and ownPort for the Agent.
In order to achieve that, I patched the run-agent.sh
[code]

[2018-02-16 04:08] lorddaedra opened #15 "Install Google Cloud SDK"
[code]

Is will allow to use gsutil tools to sync local static folder with google cloud storage bucket (like s3 equivalent)

From:
https://cloud.google.com/storage/docs/gsutil_install#deb

[2018-02-16 08:01] lorddaedra commented on #15
@VladRassokhin

Hi, Vlad!

What do you think about it? it should be easy to maintain because of no version updates required, it will always install latest available version.

[2018-02-17 05:19] lorddaedra commented on #15
Another solution - use docker in docker (but it require to use --privileged flag) or mount docker.sock inside Agent. Next use https://github.com/GoogleCloudPlatform/cloud-sdk-docker/blob/master/Dockerfile (https://hub.docker.com/r/google/cloud-sdk/),  but this solution can't be the best for security reasons...

[2018-02-19 20:07] braunsonm opened #16 "Docker support fails even with privileged flag"
The following teamcity agent:

[code]

Still fails when trying a Docker Build step.
`Warning: failed to get default registry endpoint from daemon (Cannot connect to the Docker daemon at unix:///var/run/docker.sock. Is the docker daemon running?). Using system default: https://index.docker.io/v1/
Cannot connect to the Docker daemon at unix:///var/run/docker.sock. Is the docker daemon running?`

[2018-02-19 20:09] braunsonm commented on #16
The agent itself states it has Docker Build support, however the agent cannot find the docker daemon socket to run any docker build commands.

[2018-02-19 21:24] braunsonm commented on #16
I found that this can be fixed by entering the container and running `service docker start`
It turns out the containers don't automatically start the daemon on their own for some reason.

Note the following:
[code]

As you can see, my DOCKER_IN_DOCKER variable is set, however the script did not run on startup.

[2018-02-24 23:41] plukevdh commented on #8
All this seems to need to install Docker for Windows is a:

[code]

The first line may not be needed but I tried to build an image based off of the `teamcity-agent:latest-windowsservercore` and it failed with a NuGet version error without that.

[2018-02-28 18:58] vancluever opened #17 "Log line formatting issue"
The below output is from just running `docker run -it -e SERVER_URL="https://localhost/" jetbrains/teamcity-agent`. It appears that the first few characters of the log lines are being eaten by something - possibly bad log formatting options somewhere?

[code]

[2018-02-28 19:57] VladRassokhin commented on #17
That's ok, we use formatting which truncates logging category: `[%d] %6p - %30.30c - %m %n`, you may change it if you need in `teamcity-agent-log4j.xml` file

[2018-02-28 19:59] #17 closed, assigned to nobody

[2018-03-16 14:45] JamesMcMahon commented on #16
Hey,

The `DOCKER_IN_DOCKER` setting works for me. They could have updated the image or it could be the way I am formatting it.

This is what I have:

[code]

So I no longer see the `failed to get default registry endpoint from daemon` error, but I do now see this error:

See 'docker run --help'.

Anyone from the Jetbrains team have any idea what might be going on?

[2018-03-25 13:20] VladRassokhin commented on #16
@JamesMcMahon  I haven't tested it myself but [seems](https://jpetazzo.github.io/2015/09/03/do-not-use-docker-in-docker-for-ci/#docker-in-docker-the-ugly) it's impossible to use aufs-in-aufs.
AFAIR we don't pass outer docker socket into agent, but running another docker service inside agent, so that approach declares some limitations yet provides security.

[2018-03-25 13:27] VladRassokhin commented on #14
Merged https://github.com/JetBrains/teamcity-docker-minimal-agent/pull/20

[2018-03-25 13:27] #14 closed, assigned to nobody

[2018-03-25 13:56] VladRassokhin commented on #15
I'm trying to keep agent image as tiny as possible (but failing sometimes)
Tried your snippet with on teamcity-agent, got next size results
[code]
I'd say adding 164Mb is quite too expensive. I'd suggest to use docker-in-docker approach or building new image on top of `jetbrains/teamcity-agent`

[2018-03-25 14:50] VladRassokhin commented on #3
Ok, since we do have support for docker-compose in TeamCity it makes sense to add it into docker images. Will do that for TeamCity 2018.1

[2018-03-25 14:58] #3 closed, assigned to nobody

[2018-03-31 13:50] JamesMcMahon commented on #16
Thanks for the answer @VladRassokhin, does that mean that the `DOCKER_IN_DOCKER` option is broken? If so it may be good to remove the option all together to avoid people putting in cycles to get it to work.

I actually did get a little further down the road then my post above. I was being a dummy and didn't have a volume mount, which is what was causing that error. Once I added the volume mount I

[2018-03-31 16:43] braunsonm commented on #16
@JamesMcMahon
The option doesn't work in aufs possibly. It works with other file systems.

[2018-03-31 18:35] JamesMcMahon commented on #16
Ah ok, I've never dived into Docker storage drivers. What is the correct option to use to make this work? Or is it basically, works on everything else except aufs?

[2018-03-31 18:37] braunsonm commented on #16
I use overlay2 and it works fine other than the issue I mentioned above about failing to auto start. You can enter the container and start it yourself and then it's fine.

[2018-04-03 18:51] pstephenson02 opened #20 "Question: How to properly restart the build agent?"
Hi there,

I would like to use this image (specifically the `ubuntu` image), but in my case, I need to add a custom, self-signed SSL certificate to the java cacert store and then restart the build agent process in order to pick up the new cert. What is the best way to restart the build agent process? Would it be easiest to simply reboot the container all together? It looks like there is also a hoo

[2018-04-03 20:14] pstephenson02 commented on #20
Closing this issue. I think I just fundamentally misunderstood how Dockerfiles work ;/

[2018-04-03 20:14] #20 closed, assigned to nobody

[2018-04-04 20:13] drawm commented on #16
Same problem here.
The docker service seems to stop after ~20sec, even if I start it manualy.
Using `overlay2` (also tested with `aufs`)
Docker version 18.03.0-ce, build 0520e24302

[code]

[code]

Any idea on how to fix this?

[2018-04-04 20:24] drawm commented on #16
Same result with the less secure approach...
[code]

Logs when running `service docker start`
[code]

`/var/run/docker/containerd/docker-containerd.sock` does not exist
[code]

Is the path to docker-containerd.sock invalid? can we change it with a config?

[2018-04-04 20:44] pstephenson02 opened #21 "How to properly install/run nvm"
Hello! I am having a really hard time setting up my docker build agent to build projects that use nvm/node/npm. I have created a Dockerfile like this:

[code]

When I build a new image using this dockerfile, it seems to install nvm correctly:

[code]

The agent connects to teamcity correctly, and I have authorized the agent from the TeamCity admin UI. However, when I go to build a project, the bui

[2018-04-04 21:05] drawm commented on #16
I switched back to the secure method
[code]
Stangely, the `containerd.sock` is present and the docker service is running.
[code]

But when I tried to run a build configuration agains that agent, the build simply froze...
The build log simply print:
`[20:42:54]The build is removed from the queue to be prepared for the start`
Its been +10min since the build failed, the agent has been removed from Te

[2018-04-04 22:35] drawm commented on #16
Possible solution that worked for me.
The documentation on https://hub.docker.com/r/jetbrains/teamcity-agent/ does not tell you why you need all thoses volumes. Turns out they aren't ment to be shared between your agent, each instance should have its own volumes.
I simply removed the volumes as we do not care about the warm up time and everything started working.

Based on this issue https://youtr

[2018-04-04 22:38] braunsonm commented on #16
@drawm That is clearly shown in the documentation for using this container. It is also common sense for agents to not share their configuration with other agents.

Your replies have no relation to the issue I reported,

[2018-04-05 19:12] nevmerzhitsky commented on #3
I like @stokito version and have converted it to `Dockerfile` form:
[code]

Right now this installs 1.8.0 version of Compose. **Don't forget that 1.8 version is obsolete crap.**

[2018-04-06 00:26] pstephenson02 commented on #21
I would like to clarify my question:

In order for nvm to work when running a build, the shell which runs the builds must first run `$NVM_DIR/nvm.sh`. However, I would like to avoid having to execute this nvm startup script in every build configuration I setup in TeamCity projects. Is there a way that I can force the agent to run this script each time it starts up? Thanks again.

[2018-04-06 12:03] VladRassokhin commented on #1
There's no possibility to change docker settings as some property, recommended solution is to create new image with dockerfile like
[code]

[2018-04-06 12:03] #1 closed, assigned to nobody

[2018-04-06 12:21] VladRassokhin commented on #21
Thing is nvm does not provide any binary that could be added into PATH, so some script should run `. "$NVM_DIR/nvm.sh"` or alternatively you could create some script and place it into PATH using for example Script 1 (see below).
Another alternative is to use next hack in Dockerfile - replace origin run-agent.sh with modified one:
[code]

Script 1:
[code]

[2018-04-06 12:42] VladRassokhin commented on #16
@ChaosCA Well, I've tried it myself and cannot reporoduce issue both on local installation (usign dokcer-compose) and GCP (using kubernetes).
Here's my docker-compose.yaml content
[code]

Could you please share docker logs from agent instance (`/var/log/docker.log`)

[2018-04-06 22:10] drawm commented on #16
@ChaosCA The doc only state the volumes should be present, not why they are needed and what to expect if you mishandle them. Running mutiple agents with the provided example result in the same error you have and thus why I am reporting my findings here.

Anyway, good luck with your issue...

[2018-04-06 22:46] pstephenson02 commented on #21
Thanks for your response. I tried both of your methods and neither of them worked for me. I also tried a number of other ideas as well. I was able to get more information by running `ps -aux` in the build and see how the build actually gets invoked:

[code]

From here I noticed that the builds get invoked like this:
[code]
Seeing as how there are no arguments, the shell runs as non-interactive and

[2018-04-10 16:00] chris-kobrzak opened #22 "What is the Docker Hub release process?"
I've just pulled the Ubuntu image from Docker Hub and I noticed it is currently out of sync with the project's `master` branch.

According to the `docker images` command, the image was last published 4 weeks ago:

... and at the moment of writing this comment the [corresponding Docker file](https://github.com/JetBrains/teamcity-docker-agent/blob/master/ubuntu/Dockerfile) was last updated just over

[2018-04-11 08:23] dtretyakov commented on #22
@chris-kobrzak, currently the `latest` tag points to 2017.2 release wave: https://github.com/JetBrains/teamcity-docker-agent/tree/Indore-2017.2.x

Changes from the `master` are available in the upcoming 2018.1 release with EAP tags.

[2018-04-11 09:02] chris-kobrzak commented on #22
Great stuff, thanks for clarifying, @dtretyakov.

[2018-04-17 18:03] mattmhersh opened #23 "Connection reset by peer: socket write error"
Publishing artifacts from the agent to the TeamCity Server fails.

Error:

[13:40:51]	Publishing artifacts (running for 21m:15s)
[13:40:51]	[Publishing artifacts] Collecting files to publish: [C:\BuildAgent\temp\buildTmp\coverage8038980754777348497zip\CoverageReport.xml=>.teamcity/.NETCoverage]
[13:40:54]	[Publishing artifacts] Publishing 1 file using [WebPublisher]: C:/BuildAgent/temp/buildTmp/co

[2018-04-17 18:33] mattmhersh opened #24 "Win32 internal error"
Error running executables using Powershell.

Try running nuget restore in Powershell:

[<<==>>] Exception: The Win32 internal error "No process is on the other end of the pipe" 0xE9 occurred while setting the console window title. Contact Microsoft Customer Support Services. --> No process is on the other end of the pipe

[2018-04-18 10:27] dtretyakov commented on #24
@mattmhersh, please describe which docker image with which tag are you using? On what host OS do you start this container?

**Note**: nanoserver supports only x64 bit apps, in nanoserver-1709 powershell was removed in favor to pwsh.

[2018-04-18 10:29] dtretyakov commented on #23
@mattmhersh, the error indicates connectivity problems between TeamCity build agent and server.
Please describe how do you start TeamCity build agent and server in your installation.

[2018-05-03 19:31] rubenwardy opened #25 "Questions related to updating to Ubuntu 18.04"
Hi! I'd like to run a teamcity agent based on Ubuntu 18.04. I cloned each of teamcity-minimal-agent and this repo, move ubuntu/Dockerfile to the root of each repo and delete all other dirs, then updated the dockerfile to use biomic and such.

Building this repo's image failed, as systemd was not installed in the image. Systemd should not be used in docker anyway, as the whole point is you run the

[2018-05-03 19:37] kir commented on #25
Hi,

  I'll try answering your first question - TeamCity has a number of features when docker is used in your builds. There are "docker build" and "docker compose" build runners + you can specify command line runner to run your script inside docker container from the specified docker image.

  Some documentation on these features are here: https://confluence.jetbrains.com/display/TCD18/Integrating

[2018-05-03 19:42] rubenwardy commented on #25
Thanks, will look though.

Forgot to mention a third question, how do I install systemd in my teamcity-base? Would be good to have an example teamcity-base/Dockerfile

[2018-05-03 21:30] VladRassokhin commented on #25
I'll try to answer other questions.

2. There're no plans to use Ubuntu 18.04 in nearest future (this year), I'd wait for 18.04.1 or even 18.04.2 to be released.
3. I'm unaware how to install systemd on modern Ubuntu as I'd expect it to be there (probably it's removed in docker image). Since it's only needed to start docker server you may try to use alternatives like [tini](https://github.com/kral

[2018-05-04 21:05] rubenwardy commented on #25
Closing as I've solved this issue for myself. I removed systemd and docker from the container.

teamcity-agent/Dockerfile:

[code]
run-docker.sh:

[code]

Hope this helps someone

[2018-05-04 21:05] #25 closed, assigned to nobody

[2018-05-24 13:12] jesuissur opened #27 "Agent image with React/Node?"
Hey guys

Do you think it would be possible for you to distribute an image based on the agent image but with node and react tooling above it?

Thanks
Phil

[2018-05-24 14:23] VladRassokhin commented on #27
Hi,
I'd suggest to use docker-in-docker feature and run your builds/tests in another docker container (via [Docker-Wrapper feature](https://confluence.jetbrains.com/display/TCDL/Docker+Wrapper)). So you'd have reproducibility on local machine.

There're no plans to include any nodejs/npm tools into official agent docker image.
Though nothing stops you from creating image you need on top of this on

[2018-05-24 14:23] #27 closed, assigned to nobody

[2018-05-26 08:45] marchenko1985 opened #28 "No MS Build Tools in Windows image"
Will be nice if out of the box there will be Visual Studio related binaries so we can use this image to build not only dotnet core apps but also good old .net

[2018-05-26 18:09] dtretyakov commented on #28
@mac2000, `jetbrains/teamcity-agent:latest-windowsservercore*` images are based on `microsoft/dotnet-framework-build` images, so they include MSBuild tools.

[2018-05-26 18:44] marchenko1985 commented on #28
yep seems that problem is not related, after trying to run windows based images, it seems that agent container is trying to update itself and stuck it is definitely different issues, so probably this one should be closed, thank you in advice, will try to figure out what is happening on with agent

[2018-05-26 18:44] #28 closed, assigned to nobody

[2018-05-29 15:58] pstephenson02 commented on #21
Closing this issue. For anyone reading this, I ended up switching to the windows server core 2016 container.

[2018-05-29 15:58] #21 closed, assigned to nobody

[2018-06-07 20:24] charley-sound commented on #8
So I've added these lines to Dockerfile and built and image and it worked.  I'm using teamcity-minimal-agent:latest-windowsservercore-ltsc2016:

`docker pull jetbrains/teamcity-minimal-agent:latest-windowsservercore-ltsc2016
docker tag jetbrains/teamcity-minimal-agent:latest-windowsservercore-ltsc2016 teamcity-minimal-agent:latest-windowsservercore-ltsc2016
docker build -f windowsservercore-ltsc20

[2018-06-07 20:28] charley-sound commented on #8
I tried putting the Start-Service call in my Dockerfile, same results...

I tried `net start Docker` with these results:
`PS C:\> net start Docker
The Docker service is starting.
The Docker service could not be started.

A system error has occurred.

System error 1067 has occurred.

The process terminated unexpectedly.`

[2018-06-08 06:21] SbiCA commented on #8
Are there any updates ... maybe eap?

Will this also work with a mounted daemon as the linux images I'm trying to run the following:
[code]

[2018-06-08 07:54] dtretyakov commented on #8
@charley-sound, Windows containers [does not support Docker In Docker mode](https://github.com/docker-library/docker/issues/49), the only possible way is to configure docker client in container to use docker server on docker host or another machine via tcp endpoint:
[code]

[2018-06-08 16:24] charley-sound commented on #8
I don't have a %docker-host% variable setup.  Should that just be the IP of the host machine?

[2018-06-08 17:12] charley-sound commented on #8
So I can't seem to connect to the host machine's docker daemon.  I get this error:

error during connect: Get http://myhostdns:2375/v1.30/containers/json: dial tcp myhostip:2375: connectex: No connection could be made because the target machine actively refused

Windows Firewall is turned off on the host with the same results.

[2018-06-08 22:26] dtretyakov opened #29 "Specify environment variables for .NET CLI"
In the .NET CLI was introduced a new set of environment variables:
https://github.com/dotnet/announcements/issues/71

[2018-06-14 11:36] Kannagi77 opened #30 "Support for .NET Core 2.1"
Any plans to support .NET Core 2.1.300?
https://blogs.msdn.microsoft.com/dotnet/2018/05/30/announcing-net-core-2-1/

[2018-06-15 08:05] codemash-io commented on #30
Yeah, we switched all our projects to .NET 2.1 so we would love to see integration with version 2.1.

[2018-06-15 09:08] Kannagi77 commented on #30
@codemash-io BTW, you can still upgrade it manually like this:

docker exec -it tc-agent bash -c "curl -SL https://dotnetcli.blob.core.windows.net/dotnet/Sdk/2.1.300/dotnet-sdk-2.1.300-linux-x64.tar.gz --output dotnet.tar.gz && mkdir -p /usr/share/dotnet && tar -zxf dotnet.tar.gz -C /usr/share/dotnet && rm dotnet.tar.gz"

But I guess you already know it

[2018-06-22 08:09] dtretyakov commented on #30
We'll do that. Currently you could use something like that to create a derrived docker image from `jetbrains/teamcity-agent`:
https://github.com/dotnet/dotnet-docker/blob/master/2.1/sdk/nanoserver-1709/amd64/Dockerfile

[2018-06-22 08:19] Kannagi77 commented on #30
@dtretyakov
Thanks. For my linux container I've already solved this by patching it:
docker exec -it tc-agent bash -c "curl -SL https://dotnetcli.blob.core.windows.net/dotnet/Sdk/2.1.300/dotnet-sdk-2.1.300-linux-x64.tar.gz --output dotnet.tar.gz && mkdir -p /usr/share/dotnet && tar -zxf dotnet.tar.gz -C /usr/share/dotnet && rm dotnet.tar.gz"

[2018-06-22 09:50] VladRassokhin commented on #30
Proposed fix for Linux #31

[2018-06-22 09:59] VladRassokhin commented on #30
Would be available in TeamCity 2018.1.1

[2018-06-26 11:12] heilkn commented on #8
@charley-sound You need to make the daemon on your host listen to TCP connections.

[2018-06-26 11:34] heilkn opened #32 "Add git-lfs"
I found git-lfs missing on jetbrains/teamcity-agent:latest-nanoserver

Kind regards

Konstantin

[2018-06-27 04:16] lifeshortneedwhat opened #33 "how to update .net core version"
The .net core version of teamcity agent docker in windows is 2.0 now.
I have a problem that how to update the .net core version to 2.1 ?
I have searched history of this repository to find any solution, then "Don't install dotnet core sdk explicitly" had been found.
Is dotnet-framework-build contains .net core ?
As a beginner of docker, I'm confused to how .net core was included, so that I can't fo

[2018-06-27 08:26] dtretyakov commented on #33
@lifeshortneedwhat, it's a duplicate for #30

[2018-06-27 08:26] #33 closed, assigned to nobody

[2018-07-18 13:08] Defozo commented on #16
Why there's `systemctl disable docker` command?
https://github.com/JetBrains/teamcity-docker-agent/blob/master/ubuntu/Dockerfile#L24

Changing that wouldn't fix the problem?

[2018-07-19 16:36] ghost opened #34 "How do you grant permission to a teamcity agent running in AKS?"
I hit an issue today where I have a bulid step, which involves running an executable file. My build is presently failing, because my TeamCity Agent doesn't have permission apparently to run the EXE. The EXE is located in the build directory. Both the TeamCity Server and the Build Agent reside in Azure Kubernetes Services, and are running version TeamCity.2018.1  Other than this issue, the Build Ag

[2018-07-20 07:17] dtretyakov commented on #34
@Rachel-ResDiary, please note that Windows Server Core, used in the windows containers, could not run 32-bit executables and nanoserver image does not have .NET framework required for .NET apps.

Could you please share what kind of windows image do you use (`nanoserver`/`windowsservercore`) and text of the error message from this build step?

[2018-07-20 07:54] ghost commented on #34
The exe I'm trying to run is the one produced by this project: https://github.com/garethr/kubeval, The exact error message in TeamCity is;

Step 8/8: Attempt simple call to kubeval.exe for a single Yaml file (Command Line)
[18:22:50][Step 8/8] Starting: /opt/buildagent/temp/agentTmp/custom_script2799369918078491552
[18:22:50][Step 8/8] in directory: /opt/buildagent/work/d552e29196bcc095
[18:22:50]

[2018-07-20 08:17] ghost commented on #34
PS: Having a closer look at the files used by that Chocolatey installer, it looks like they're 64 bit. It also looks like you can run that project on Linux, going by its usage instructions. But whether I'll need to install it on the Agent directly remains to be seen:

![image](https://user-images.githubusercontent.com/39724678/42991429-647b403a-8bfd-11e8-8b07-5b1df14e48c2.png)

[2018-07-20 08:19] dtretyakov commented on #34
@Rachel-ResDiary, you could try downloading this executable via PowerShell script in the build step like that and then use it:
[code]

[2018-07-20 09:02] ghost commented on #34
@dtretyakov Thanks for that suggestion. Looks like none of our Agents are able to run Powershell scripts, unfortunately. We likely need to download the appropriate package from here to be able to do that: https://github.com/PowerShell/PowerShell#get-powershell  Will give it a go when I'm back at work on Monday.

[2018-07-20 16:30] ghost commented on #34
Thinking about this some more, I'm really back to the same issue. I don't know how to grant elevented permissions to a TeamCity Agent running in Kubernetes. Either permission to run an arbitrary EXE, or to run PowerShell commands. I know what I'd do if the Agent were running on a Windows machine. I'm just not sure how to grant additional privileges to an Agent running in a container inside Kuberne

[2018-07-24 12:13] #29 closed, assigned to nobody

[2018-07-24 12:14] dtretyakov commented on #24
Closing as obsolete

[2018-07-24 12:14] #24 closed, assigned to nobody

[2018-07-24 12:15] #22 closed, assigned to nobody

[2018-08-01 12:46] #34 closed, assigned to nobody

[2018-08-02 11:37] tg73 opened #35 "Symbol indexing is not working"
I'm evaluating the docker agent image.  We have the symbol server feature enabled on the TC server. I'm getting build errors when using the docker agent:

[code]

Is there a reason that the docker image does not contain the required components? Could you add them? And how can I add them myself in the mean time?

The [documentation](https://confluence.jetbrains.com/display/TW/Symbol+Server) does no

[2018-08-02 13:27] dtretyakov commented on #35
@tg73, it looks like you're using outdated Symbol Server plugin version. Try downloading the latest plugin version compatible with TeamCity 2017.2+:
https://confluence.jetbrains.com/display/TW/Symbol+Server#SymbolServer-Downloaddownload

To resolve the issue with "Failed to find Source Server tools home directory. No symbol and source indexing will be performed." you need to install [Debugging Too

[2018-08-08 14:18] johnkors commented on #12
@VladRassokhin I couldn´t really find in YouTrack whether this was resolved in a release. Has the engine been updated lately?

[2018-08-08 14:30] VladRassokhin commented on #12
@johnkors  Last update was in March https://github.com/JetBrains/teamcity-docker-agent/commit/f4010b1bae9658890b0a37e527743e062c4058be

[2018-08-09 05:53] johnkors opened #36 "Cannot connect to self-hosted docker registry (.local)"
I'm having the same issue reported [here](https://github.com/docker/for-mac/issues/1827#issuecomment-313310057) –  in that I cannot get the tc-agent to talk to a self-hosted docker registry found at `myserver.local` (i.e. a .local) address. It can fetch images from dockerhub, but not our internal registry.

According to [this comment](https://github.com/docker/for-mac/issues/1827#issuecomment-3133

[2018-08-15 18:11] wtigotw opened #37 "Windows TeamCity images don't seem to stop correctly"
Using: TeamCity Server 2018.1.1 running on Windows 10 Enterprise 1803
Using: Docker Cloud plugin to launch agents
Docker image: jetbrains/teamcity-agent:2018.1.1-nanoserver-sac2016

When a build agent is commanded to shut down by TC, either because of manual request ("Stop" clicked from Agents->Cloud screen) or automatic shutdown via plugin configuration ("Terminate after first build" setting), th

[2018-08-20 13:03] dtretyakov commented on #37
@wtigotw, did you tried to stop the same container on this machine via regular `docker run ...` / `docker stop ...` / `docker rm ...` commands? Does it stop build agents gracefully?

Note: since Docker Cloud plugin is 3rd party plugin we don't know how it terminates the docker container.

[2018-08-24 09:36] hwestman opened #38 "Docker in docker - external requests time out"
Im having an issue building within containers on the agent. First symptoms was that restoring nuget packages in a `dotnet restore` would time out for each individual package.

I tested this ok directly on the docker agent, but it would consistently fail restoring in the container running on the agent.

Playing around with curl in the container running on the agent i got inconsistent results, it re

[2018-08-24 11:33] dtretyakov commented on #38
@hwestman, thanks for reporting this case. The MTU setting hardly depends on host machine network settings, so it looks not so good to hard code any values in docker images for all users.

Related blog: http://atodorov.org/blog/2017/12/08/how-to-configure-mtu-for-the-docker-network/

[2018-08-24 12:34] hwestman commented on #38
Thank you for responding.
Not sure I understood what you mean when you say "The MTU setting hardly depends on host machine network settings", are you saying that it in fact does depend on the host machine network setting?

If so I would absolutely agree that it does not make sense to configure this in the agent image.

What made this issue hard to figure out, was that the teamcity-docker-agent wou

[2018-08-24 12:34] #38 closed, assigned to nobody

[2018-08-24 12:40] danielbjornadal commented on #38
Would it be an idea to code the original image as such as you could specify the mtu (and other DOCKER_OPTS?) through an environment variable?

[2018-08-27 15:40] tg73 commented on #35
I followed your suggested actions, and it's working for me now, thanks. Perhaps this information should be added to the [documentation](https://confluence.jetbrains.com/display/TW/Symbol+Server)?

[2018-08-27 16:18] tg73 opened #39 "NuGet Publish build step fails"
After an otherwise successful build, I'm getting failures with the `NuGet Publish` step. I'm using `NuGet.exe` version 4.7.1, and a image based on `jetbrains/teamcity-agent:2018.1.1-windowsservercore-1803` (with added Windows SDK for debugging tools to support symbol server plugin). I am running the build agent image as a swarm of scale 1 (for testing), with default networking. The log looks like

[2018-08-28 08:51] dtretyakov commented on #39
@tg73, such kind of problems could be caused by issue with MTU setting in docker network. Related issues could be found there:
* https://cloud.google.com/compute/docs/containers/#mtu_failures
* https://success.docker.com/article/windows-overlay-network-mtu-issue
* https://github.com/moby/moby/issues/35683#issuecomment-411533870

So try settings MTU value to 1400 on your docker host machine and che

[2018-08-28 09:28] dtretyakov commented on #35
@tg73, thanks, it was added: https://github.com/JetBrains/teamcity-symbol-server#using-in-docker-containers

[2018-08-28 09:28] #35 closed, assigned to nobody

[2018-08-28 14:00] tg73 commented on #39
@dtretyakov, thanks for your expert tip - adjusting the MTU to 1400 on the container's virtual interface has fixed the problem. From my reading of the various pages you linked (and docker documentation), there is no way to configure docker to apply this MTU as a general default (specifically, this is a Windows Containers problem). In my scenario, because I'm already using a custom image, I added t

[2018-08-28 14:00] #39 closed, assigned to nobody

[2018-08-28 22:30] wtigotw commented on #37
Ah, good point. Yes, I failed to recognize the shutdown mechanism of the plugin could should be considered.

Using docker run ... / docker stop ... / docker rm ..., I see the following in the TC logs:
[code]

[2018-09-11 11:41] msnelling opened #41 "Custom server certificate"
How do we get the agent to accept successfully connect to the server using HTTPS if it is using a certificate signed by an internal/unknown CA?

Currently I'm having to connect over HTTP which is less than ideal.

[2018-09-11 12:02] dtretyakov commented on #41
@msnelling, solution depends on docker image platform and tool which you use to establish connection to the HTTPS host.

TeamCity 2018.1 itself provides self-signed certificates management for bundled build runners:
https://confluence.jetbrains.com/display/TCDL/Uploading+SSL+Certificates

[2018-09-11 12:56] msnelling commented on #41
@dtretyakov this is for the agent to connect back to the TeamCity server over HTTPS on startup.

[2018-09-11 13:37] dtretyakov commented on #41
@msnelling, in this case you need to populate `<TeamCity Agent Home>/conf/trustedCertificates` directory by using one of the following ways:
* place the custom certificate to some directory and then mount it to the build agent
* create a docker image based on `jetbrains/teamcity-agent` and place custom certificate in it

[2018-09-11 14:24] msnelling commented on #41
Thanks @dtretyakov, I tried the first option (my preferred) with no luck. I have the CA certificate in the directory `/var/lib/teamcity/conf/trustedCertificates` and started the agent container with
[code]

... but this doesn't work. I still get the error
[code]

[2018-09-11 15:13] dtretyakov commented on #41
@atroxaper, please take a look at the issue.

[2018-09-12 08:48] atroxaper commented on #41
Hello, @msnelling. At first glance, it seems that you did everything right. Please check that your certificate is stored in one of the following formats: PEM, DER or PKCS#7.

For ensuring all paths are correct, you can try to do the following:
1. Connect the agent to the build server over http as you did it above;
2. Add any valid certificate to the build server as described in section [Adding tru

[2018-09-14 10:54] tg73 opened #42 "NUGET_XMLDOC_MODE=skip has consequences and is not recommended by TeamCity documentation."
The `Dockerfile` sets `NUGET_XMLDOC_MODE=skip`. I can see that this would help performance. However, I can find no general TeamCity documentation that advises making this change on build agents. Therefore it would seem likely that this is not set on most users' non-Docker-based agents. And so it seems odd that it would be set on the Docker image, which, arguably, should represent the typical agent

[2018-09-14 11:47] dtretyakov commented on #42
@tg73, the `NUGET_XMLDOC_MODE=skip` setting comes from the original docker images provided by Microsoft, e.g: https://github.com/dotnet/dotnet-docker/blob/master/2.1/sdk/nanoserver-1803/amd64/Dockerfile

If you need different setting you could easily create derived image from `jetbrains/teamcity-agent` or define required `env.NUGET_XMLDOC_MODE` [environment parameter](https://confluence.jetbrains.

[2018-09-14 13:32] tg73 commented on #42
@dtretyakov, I'm slightly confused: for example, https://github.com/JetBrains/teamcity-docker-agent/blob/master/windowsservercore/Dockerfile appears to be based on `microsoft/dotnet-framework:4.7.2-sdk-windowsservercore-$TAG`, which comes from https://github.com/Microsoft/dotnet-framework-docker/blob/master/4.7.2-windowsservercore-1803/sdk/Dockerfile, which is based on `microsoft/dotnet-framework:

[2018-09-20 11:29] tg73 opened #43 "Container dies during builds"
I suspect that this is a Windows Containers problem, not a TeamCity problem, but I'm also logging it here as it may affect fellow users. I have had to abandon using containerized build agents and revert to using VMs.

When running a build via the agent running within the container, at some arbitrary point, the container becomes unresponsive. With process isolation, RDP to the host OS also becomes

[2018-09-20 11:55] dtretyakov commented on #43
@tg73, thanks for reporting this case. Could you please describe what type of hardware (physical box, cloud, virtualized machine) was used to run host machine with Windows Server Core 1803?

[2018-09-20 12:08] tg73 commented on #43
The Windows Server Core 1803 Docker host is running as a VM hosted by ESXi 6.7.0, configured with 8 vCPU, 16GB RAM. _Expose hardware virtualization_ to guest was originally disabled when I was trying with process isolation, then turned on when trying hyperv isolation. IOMMU and virutalized CPU performance counters are exposed to the guest. The non-docker agent VMs that I am now using instead of do

[2018-10-08 11:27] biscuitWizard opened #44 "Add Bzip2"
phantomjs requires bzip2 to untar its builds. Any node.js projects including phantomjs will break on build without this package.

Solution:
Please add bzip2 to the apt-get list in the ubuntu build list.

[2018-10-15 14:08] bdaniel7 opened #45 "Failed to initialize CoreCLR, HRESULT: 0x80004005"
Hi,

I'm trying to run a TeamCity agent in a container.
This is environment:

The TeamCity and the agent are the latest from the container (2018.1.3 (build 58658))
The container is run in Docker for Windows, using Linux containers (because the production will run on Ubuntu).

root@teamcity-agent3:/opt/buildagent/work/70bf5e8b1cc61bbe/src# dotnet --info
.NET Core SDK (reflecting any global.json):

[2018-10-18 12:21] bdaniel7 commented on #45
I think this occurs because the teamcity agent runs under **buildagent** user and the folders and files created during agent instalation (**/opt, /tmp**) are rw only for root:root.

I tried to add root to group docker and set chown those directories to root:docker but to no avail. New folders generated when the any "dotnet" command starts are owned and rw by root.

[2018-11-08 08:23] 1scrooge commented on #45
I have the same issue. Any ideas?

[2018-11-08 08:28] bdaniel7 commented on #45
One workaround is to set the environment variable COMPlus_EnableDiagnostics=0 in all the containers where dotnet runs.
The variable is used to determine whether the clr will write some debug information in /tmp.
You can search for more details about that variable in the .NET Core GitHub issues log.

[2018-11-08 10:08] 1scrooge commented on #45
@bdaniel7 Thank you. It`s helped

[2018-11-20 14:42] Shohou opened #46 "delete /var/run/docker.pid?"
after restarting container with docker-in-docker, docker failed to start. In /var/log/docker.log I see the following line - Error starting daemon: pid file found, ensure docker is not running or delete /var/run/docker.pid.
Suggestion - modify run-docker.sh to delete this file before starting the docker

[2018-11-21 14:24] kir commented on #46
Thanks for the suggestion, checked in.

[2018-11-21 14:24] #46 closed, assigned to nobody

[2018-11-29 08:35] xetra11 opened #47 "How get the agent windows container running?"
That is what I tried according to the guide on https://hub.docker.com/r/jetbrains/teamcity-agent/

    docker run -itd --name teamcity-win-agent -e SERVER_URL="<IP>:80" -v/etc/teamcity/agent_win/conf:/data/teamcity_agent/conf jetbrains/teamcity-agent:windowsservercore

the errors were:

    Unable to find image 'jetbrains/teamcity-agent:windowsservercore' locally
    docker: Error response from da

[2018-11-29 11:30] dtretyakov commented on #47
@xetra11, windows containers [work only on Windows machines](https://docs.microsoft.com/en-us/virtualization/windowscontainers/deploy-containers/version-compatibility), but according to the logs you're trying to start windows container on *nix machine.

[2018-11-29 14:03] knepe opened #48 "DOCKER_IN_DOCKER and Fargate"
Can't seem to get DOCKER_IN_DOCKER=start work for Fargate tasks.. Is it supported?
This is the error I get on builds which uses docker stuff (not the Docker plugin):
`Cannot connect to the Docker daemon at unix:///var/run/docker.sock. Is the docker daemon running?`
I have set environment variable DOCKER_IN_DOCKER=start
Anyone got this to work with Fargate tasks?

FYI: It works with EC2 tasks

[2018-11-29 14:33] xetra11 commented on #47
Yea that is right!
Context:

I have several builds for my projects that are build by maven - so no problem running on nix enviroments.
But my new project uses .cmd and windows compiled tools to build. Therefore I need a windows enviroment. So my only option is to have a windows environment to run a windows teamcity and a windows agent on? No hacky way to at let .cmd files etc. being run for that s

[2018-11-29 22:56] dtretyakov commented on #47
AFAIK there is no official support of windows cmd files on Linux, but [PowerShell scripts could work on both platforms](https://docs.microsoft.com/en-us/powershell/scripting/setup/installing-powershell-core-on-linux?view=powershell-6). So if you could convert your cmd files into ps1 files you'll be able to use them on both platforms.

If such tools could execute cross-compilation for windows on li

[2018-11-30 06:59] xetra11 commented on #47
Okay thanks for the infos buddy!

[2018-11-30 06:59] #47 closed, assigned to nobody

[2018-12-04 15:24] NikolayPianikov commented on #45
@bdaniel7 could you share commands which are used to run TeamCity server and agent in docker?

[2018-12-04 15:27] bdaniel7 commented on #45
They are run using docker-compose:
   teamcity-server:
    restart: always
    image: jetbrains/teamcity-server:latest
    container_name: teamcity
    hostname: 'teamcity'
    depends_on:
      - "db"
    environment:
      - COMPlus_EnableDiagnostics=0
    ports:
      - 8111:8111
    volumes:
      - /docker/teamcity/data:/data/teamcity_server/datadir
      - /docker/teamcity/logs:/opt/teamcity

[2018-12-04 15:34] NikolayPianikov commented on #45
@bdaniel7 by default TeamCity agent uses this TEMP directory ```TMPDIR=/opt/buildagent/temp/buildTmp```. Try using the same.

[2018-12-10 17:25] #30 closed, assigned to dtretyakov

[2018-12-13 16:41] krlxgrn opened #49 ".NET Core 2.2"
Can we get support for Core 2.2?

[2018-12-19 22:15] vladimirpichuzhkin commented on #49
https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial#linuxubuntu
Just run this:
sudo apt-get update
sudo apt-get install wget
wget -q https://packages.microsoft.com/config/ubuntu/18.04/packages-microsoft-prod.deb
sudo dpkg -i packages-microsoft-prod.deb
sudo add-apt-repository universe
sudo apt-get install apt-transport-https
sudo apt-get update
sudo apt-get install dotnet-sdk-2.2

[2019-01-08 06:57] GokulendraPanda commented on #5
Yes it is reproducible in Cent OS

[2019-01-15 14:03] 1scrooge commented on #48
@knepe use docker flag ```privileged: true```

[2019-01-15 17:04] knepe commented on #48
@1scrooge Not available when using Fargate

[2019-01-16 16:21] kir commented on #48
Looks like not possible on FarGate.
https://stackoverflow.com/questions/48390279/dind-and-aws-fargate-ci

[2019-01-17 17:47] 1scrooge commented on #48
Yep. @kir is right

[2019-01-17 19:19] jeandet commented on #48
Hi, what about using [this](https://hub.docker.com/_/docker) image as base image? This seems to be the right way to do https://jpetazzo.github.io/2015/09/03/do-not-use-docker-in-docker-for-ci/. This would ease a lot the DIND setup and allow multiple agent per host.

[2019-01-21 13:33] #49 closed, assigned to nobody

[2019-01-23 13:04] kir commented on #48
Hi @jeandet, could you please explain a bit more? You're referring to the official docker-in-docker image, and at the same time referring to an article where docker-in-docker considered harmful (and docker.sock approach is preferred).

Thanks,

[2019-01-23 15:05] jeandet commented on #48
@kir you are right, in my understanding both are harmful, docker.sock has many issues like exposing host docker and thus shares volumes path while real dind seems to isolate inner volumes from host (but has many other issues).
I don't have an isolated dind setup working right now, I still use the docker.sock option.
This is not convenient  with docker cloud plugin, you have to set a different path

[2019-01-23 18:09] kir commented on #48
OK, that's right. Back to the original issue, is it OK I close it, as there is not viable solution for dind and Fargate?

[2019-02-08 20:30] shanesiebken commented on #36
I *think* that I am seeing this issue too. At least, that's the best that I can figure at this point. I'm using Docker-in-Docker (may god strike me dead) in a kubernetes cluster with an in-cluster registry, which is reached at the typical [...].svc.cluster.local, and docker fails to operate against it with a no such host error, even though an nslookup on the dind container shows the correct target

[2019-02-18 13:21] kir commented on #36
Hi, could you please make sure the problem is related to teamcity-agent image. For that, please start the teamcity-agent container, attach to it, and try connecting to the host machine. And compare with non-teamcity agent container - is there any difference?

If there is, please file a detailed bug report to https://youtrack.jetbrains.com/newIssue?project=TW&c=Assignee%20maxkir&c=Subsystem%20Docke

[2019-03-13 00:25] eshantandon opened #51 "Issues trying to build ubuntu Docker Image"
Since the shell script referenced while building dockerfile is one level up we are having issues building the docker image.
We should probably move run-docker.sh in the ubuntu folder.

[2019-03-13 09:33] kir commented on #51
Hi, do you use `-f ubuntu/Dockerfile` for the docker build command?

[2019-03-13 20:59] eshantandon commented on #51
Yes.

[2019-03-13 22:00] eshantandon commented on #51
This is the error I get on the CI/CD:
**[17:57:11][Step 3/4] COPY failed: stat /var/lib/docker/tmp/docker-builder709805828/run-docker.sh: no such file or directory**
[17:57:11][Step 3/4]  ---> 82978ec795db
[17:57:11][Step 3/4] Step 10/11 : COPY run-docker.sh /services/run-docker.sh
[17:57:11][Step 3/4] Process exited with code 1
[17:57:11][Step 3/4] Process exited with code 1 (Step: Docker Build (

[2019-03-18 13:51] kir commented on #51
What value do you use for "Context folder:" parameter?

[2019-03-18 15:54] eshantandon commented on #51
Its empty,
Probably should try ./ ?

[2019-03-18 15:54] eshantandon commented on #51
![image](https://user-images.githubusercontent.com/43542724/54543779-a385ce00-4974-11e9-940a-c9fbdd8f94d5.png)

[2019-03-18 16:04] kir commented on #51
I believe `.` should work for this case.

[2019-03-18 16:34] eshantandon commented on #51
Will try that.

[2019-03-18 17:10] eshantandon commented on #51
That works. Thanks.

[2019-03-18 17:10] #51 closed, assigned to nobody

[2019-03-18 20:51] goliat43 opened #52 "ltsc2016 and sac2016 removed"
Long term supported 2016 images were removed in this commit that says "Provide Windows 1809 containers". Was this really intentional?

https://github.com/JetBrains/teamcity-docker-agent/commit/395a70024f7cca0c82fb1f1c42e629dcb74265c1

We still run 2016 servers (update takes time, it's LONG term support after all) and not having new Team City versions for the Windows version that was the latest lon

[2019-03-19 11:03] dtretyakov commented on #52
@goliat43, thanks for reporting it. We're following the MSFT recommendation where [they're deprecating 2016 images](https://devblogs.microsoft.com/dotnet/net-core-container-images-now-published-to-microsoft-container-registry/). Cause of that is [end of life for Server 2016](https://support.microsoft.com/en-us/help/4043450/products-reaching-end-of-support-for-2018).

As result we could not provide

[2019-03-20 06:08] goliat43 commented on #52
Holy.  I guess long term doesn't mean what it used to at MS any more. Makes sense not updating TC then. Will see about moving to latest instead.

Thank you!

[2019-04-05 12:43] vyruz1986 commented on #52
I found this issue while searching what happened to the SAC2016 and LTSC2016 images. I've read @dtretyakov's comment but the MS doc link provided in that comment seems to contradict [this link](https://docs.microsoft.com/en-us/windows-server/get-started/semi-annual-channel-overview), which states that LTSC should get 5 (mainstream) + 5 (extended), so 10 years total of support, and explicitly state

[2019-04-05 13:12] dtretyakov commented on #52
@vyruz1986, there is a feature request to support latest Windows container versions in ACI forum:
https://feedback.azure.com/forums/602224-azure-container-instances/suggestions/32324449-want-to-support-running-windows-server-1709-and-l

It seems that MSFT departments are working out of sync, but at some point of time ACI team will support 2019 LTSC images as well as recently announces support of t

[2019-05-14 09:01] palver123 opened #53 "Why re-tag the 'minimal-agent' image?"
Hi!

I am Docker newbie and just out of curiosity I wanna ask: what is the purpose of re-tagging the image (as suggested in the [README of the repository](https://github.com/JetBrains/teamcity-docker-agent/blob/master/README.md))?

Isn't it bad practice to create a local tag? Doesn't it prevent my docker daemon from checksumming the image in the docker registry (DockerHub) against my local copy? I

[2019-05-15 14:59] kir commented on #53
The current Dockerfile for teamcity-agent references local teamcity-minimal-agent image, that's why you should either re-tag jetbrains/teamcity-minimal-agent image, or you should modify Dockerfile to be based on jetbrains/teamcity-minimal-agent:latest image.

[2019-05-16 14:49] toudidel commented on #10
I have similar problem with package _com.sun.javafx_. But unfortunately creating image with openjfx does not work

[2019-05-31 02:12] NEXUS2345 opened #54 "Agent unable to connect to server running behind Caddy reverse proxy with Let's Encrypt certificate"
I am attempting to connect a Linux docker agent to a TeamCity 2019.1 server. The server is hosted behind a Caddy (https://caddyserver.com) reverse proxy with transparent proxying including WebSocket. The server also uses a Let's Encrypt wildcard certificate. For some reason which I am unable to grasp, the agent refuses to connect to the server.

Here is the log:
https://gist.github.com/NEXUS2345/9

[2019-05-31 07:01] dmitry-treskunov commented on #54
Hi, seems you need to add the certificate to the agent JVM, see details [here](https://twitter.com/richardjfoster/status/1134169567721398272)

[2019-05-31 11:17] NEXUS2345 commented on #54
Hi Dmitry,
Thanks for the response. First, I need to mention that the link you have provided is to a tweet, not the documentation.
Second, I believe I may have already identified the cause. I have misconfigured Caddy and told it to use just the certificate rather than the full chain, so I'll correct this and see if it fixes it.
Thanks, NEXUS2345.

[2019-05-31 11:23] dmitry-treskunov commented on #54
Oh, sorry, I posted the wrong link :) Anyway, glad that you resolved the issue!

[2019-05-31 11:23] #54 closed, assigned to dmitry-treskunov

[2019-06-26 15:52] Elangopalakrishnan opened #55 "Can we run tests on containers in build agent by installing Docker in teamcity build agent"
I'm using teamcity for running automated specflow tests in build agent,
I saw that runner type - Docker and Docker Compose.
Can we run tests on containers in build agent by installing Docker in teamcity build agent.
How to run the same tests in docker container in teamcity.
Any option available in teamcity? please advice?

Thanks!

[2019-07-05 13:13] evgenisokolov commented on #16
Hi!
I have the same problem with the latest version of teamcity-docker-agent. Docker fails on stat up even when I trying to start it with 'service docker start'
my deployment.yml:
`apiVersion: apps/v1
kind: Deployment
metadata:
  name: teamcity-agents-deployment
  labels:
    app: teamcity-agent
spec:
  replicas: 3
  selector:
    matchLabels:
      app: teamcity-agent
  template:
    metadata:

[2019-07-08 06:49] evgenisokolov commented on #16
After some investigation I fixed it with adding:
`        securityContext:
          capabilities:
            add:
            - NET_ADMIN
          privileged: true
          runAsUser: 0 # WARNING -- added to prevent https://github.com/istio/old_issues_repo/issues/316
          runAsNonRoot: false # WARNING -- added to prevent https://github.com/istio/old_issues_repo/issues/316`

to deployment

[2019-07-15 07:04] Jarris3154 opened #56 "Missing fontconfig package in linux"
When the code contains Excel generate, the build will fail with following error message:

![image](https://user-images.githubusercontent.com/19629719/61199871-1f6d0880-a712-11e9-9f26-f6518e149f06.png)

I guess it's because the package `fontconfig` is missing in the ubuntu.

I work with this script to install fontconfig and resolved the problem, so I strongly suggest to add the following command in

[2019-07-17 13:44] kir commented on #56
Thanks, I've created https://youtrack.jetbrains.com/issue/TW-61230 issue in  our tracker for this task.

[2019-07-17 13:52] #56 closed, assigned to nobody

[2019-07-17 14:19] kir commented on #55
Hi,

  You can definitely run your tests in docker if you install docker on build agents.

  You can use [Docker Compose](https://www.jetbrains.com/help/teamcity/2019.1/integrating-teamcity-with-docker.html#IntegratingTeamCitywithDocker-DockerComposeRunner) runner, [generic Docker command runner](https://www.jetbrains.com/help/teamcity/2019.1/integrating-teamcity-with-docker.html#IntegratingTeamCi

[2019-07-23 12:57] Elangopalakrishnan commented on #55
@kir Thanks, Will try and let you know :)

[2019-08-28 09:07] tschmidt01 commented on #44
Just create your own image extending `jetbrains/teamcity-agent`

[code]

[2019-08-30 19:55] weyert commented on #41
@msnelling  Did you ever get this working?

[2019-10-04 14:51] overton660 opened #57 "DOCKER_OPTS insecure-registry setting not working"
I am trying to run a docker build in an agent within the container. The docker file of my project pulls from an insecure docker registry. I have tried setting the insecure registry in the docker_opts environment variable, but am still getting the error. Hoping someone can guide me in the right direction

Here is my docker run command.
`docker run -it -e SERVER_URL="http://buildtest:880"  --privile

[2019-10-06 17:23] hariseldon78 commented on #16
Hi, i'm not sure if it's the same problem, but the /services/run-docker.sh script was running fine at container boot, but when i restarted my host server the docker service would start and after a bit it would error out and exit. i solved it by inserting a 'sleep 20' before running the docker service, and that made it work.

[code]

[2019-10-07 16:27] kir commented on #57
Hi, have you tried setting DOCKER_OPTS environment variable in your build settings, in the Parameters section of the build configuration?

[2019-10-07 18:02] overton660 commented on #57
I have not, I will try that and get back

[2019-10-07 18:21] overton660 commented on #57
I am not sure if I have the correct syntax, but what I have now is not working.

![image](https://user-images.githubusercontent.com/11725726/66337664-36805880-e905-11e9-92c0-674a50f59745.png)

Is this how to set the variable properly?

[2019-10-09 08:43] kir commented on #57
Hi, you should add not "Docker Opts" variable in TeamCity UI, but DOCKER_OPTS, so the name would be `env.DOCKER_OPTS` and the value `--incesure-registry...`

Hope this helps,

[2019-10-09 16:21] kir commented on #16
Hello @hariseldon78 , could you please clarify a bit part `when i restarted my host server the docker service would start and after a bit it would error out and exit`. Could you describe your setup a bit more, I'm not sure I understand what can we do about it.

Thanks,

[2019-10-09 19:26] hariseldon78 commented on #16
Hello @kir . My environment is this: an aws ec2 server, on it i am running docker.
2 docker containers: teamcity-server-instance and teamcity-agent-instance.
The start command is like this:
[code]
(the agent image is on my custom repository because i added some packages to it like nodejs and stuff)
Before inserting the `sleep 20` that i mentioned i created the two containers with the commands you

[2019-10-11 14:17] kir commented on #16
Hello @hariseldon78 ,

  Thanks for the details. I'd really appreciate if you provide the error from the log, as it may clarify on why the docker has stopped in the container. We could add the sleep, but it is better to understand why it is needed at all.
  Also, how did you configure the TeamCity containers to auto-start on the ec2 instance?

  Thanks again,

[2019-10-11 14:47] hariseldon78 commented on #16
ok, here is the error (i just removed the sleep and it happened the first reboot):

[code]
(i repeated the docker status command about every 2-3 seconds)

this following is the /var/docker.log since the reboot.
[code]

I used the '--restart always' option at the docker start  or docker update.

[2019-10-11 15:39] kir commented on #16
Hi @hariseldon78 ,

  Thanks a lot for the log. I believe the error is related to this issue: https://github.com/docker/for-linux/issues/517. We'll update the docker version used in our image so the probably it will fix the problem with docker daemon stop.

  I've filed this bug in our tracker as https://youtrack.jetbrains.com/issue/TW-62466

  Best,

[2019-10-11 16:10] kir commented on #16
[This commit](https://github.com/JetBrains/teamcity-docker-agent/commit/b6704e90997ffc01ef0fd498e2777af89e98cb26) should fix the issue.

[2019-10-11 16:10] #16 closed, assigned to nobody

[2019-10-12 01:17] overton660 commented on #57
Gotcha, I will give that a shot just to see if it works, but I did end up resolving the issue by setting up a revers proxy server to handle the https

[2019-10-12 01:17] #57 closed, assigned to nobody

[2019-10-22 13:05] RonAmihai commented on #41
I'm having the exact same issue as @msnelling described.

My TeamCity server is running behind nginx proxy & exposed as HTTPS.
I've mounted the certificates into the teamcity-agent using the conf/trustedCertificates volume.

Did you manage to solve this?

[2019-10-31 07:01] ptr1120 opened #58 "Support for .net sdk 3.0"
Hello,
When can we expect support for dotnet sdk 3.0? It has been officially released in September by microsoft.
Thanks and best regards
Peter

[2019-11-19 12:51] hgulamabbass commented on #58
I was looking for the same update for .NET core 3.0 when will this be available?

[2019-11-19 15:16] NikolayPianikov commented on #58
I've updated docker files, so images will be available soon (after check)

[2019-11-20 12:29] hgulamabbass commented on #58
Apologies if this has been asked before. How long does the image take to publish to dockerhub site after commit. The latest jetbrains/teamcity-agent:latest is one that is 13 days ago?

[2019-11-26 09:25] hgulamabbass commented on #58
Hey any ideas when the image https://hub.docker.com/r/jetbrains/teamcity-agent/tags on docker  will be updated to have the latest commits?

[2019-12-10 11:35] xivk commented on #58
This seems to be working but in the meantime we're at .NET core 3.1 and it's the LTS version so best to support that instead.

[2019-12-10 11:46] NikolayPianikov commented on #58
@xivk 3.1 released a week ago we just had no time to check it yet and of course we are going to update to 3.1

[2020-01-08 23:44] hgulamabbass commented on #58
Thanks for upgrading to 3.0. Any idea when the base image will support .net core 3.1?

[2020-01-17 10:01] apropatznpetl opened #61 "Unable to build docker image"
I'm trying to build the agent image using this repository (since we need .net core 3.1 sdk installed on the agent and the image from docker hub is still using 3.0.100) but the build fails at "STEP 4", presumably while installing "libc" binaries with a gzip error.
For better understanding I have attatched the [last few lines of the build log](https://github.com/JetBrains/teamcity-docker-agent/files

[2020-02-26 04:24] imlight commented on #41
+1 , has anyone got this working ?

[2020-02-26 05:26] imlight commented on #41
for me , inside container below command execute successfully
curl -iv  https://TCserver:8443/app/agents/protocols

It just during agent registration i get the error

[code]

[2020-03-07 00:58] llbbl opened #62 "Question: official php support?"
Just wondering @NikolayPianikov or @dtretyakov if we can get an official docker build agent that supports php? Could it be included in this repo or in a new one "teamcity-docker-agent-php". Open to pull requests?

[2020-03-20 07:00] imlight commented on #41
Alright this is what we had to do to make teamcity build agent work with https

1. Copy /opt/buildagent/bin/agent.sh from inside container to host ( docker host )

2. Edit the  "TEAMCITY_AGENT_OPTS_ACTUAL"  and mention your keystore file path which gets mounted inside container, in mu case it looked like this 

TEAMCITY_AGENT_OPTS_ACTUAL="$TEAMCITY_AGENT_OPTS -ea $TEAMCITY_AGENT_MEM_OPTS_ACTUAL -D

[2020-03-23 12:21] kir commented on #41
@imlight Have you tried passing environment variable TEAMCITY_AGENT_OPTS when starting the container, like ` -e  'TEAMCITY_AGENT_OPTS=-Djavax.net.ssl.keyStore=/data/teamcity_agent/conf/trustedCertificates/keystore.jks -Djavax.net.ssl.trustStore=/data/teamcity_agent/conf/trustedCertificates/keystore.jks -Djavax.net.ssl.keyStorePassword=changeit -Djavax.net.ssl.trustStorePassword=changeit'` ?

[2020-03-25 14:37] imlight commented on #41
Thats a good suggestion,
something i look forward to try out on weekend. Will update.

[2020-04-15 03:21] imlight commented on #41
@kir  That works like a charm mate! Cheers!

[2020-04-17 12:42] abelal83 opened #63 "windows docker image doesn't contain powershell"
it contains powershell core but that doesn't work with chocolatey. How can we enable classic powershell?

[2020-04-17 12:57] JuliaResh commented on #63
@abelal83 Which tag do you use? `jetbrains/teamcity-agent:windowsservercore` should have PowerShell Desktop available. Default image for Windows is `nanoserver` which indeed has only core edition.

[2020-04-17 12:59] abelal83 commented on #63
hi @JuliaResh I was using jetbrains/teamcity-agent, I'm using jetbrains/teamcity-agent:eap-windowsservercore-1809 now which I'm hoping is OK?

[2020-04-17 13:01] JuliaResh commented on #63
@abelal83 Yes, `jetbrains/teamcity-agent:eap-windowsservercore-1809` should have PowerSehll desktop edition available. Does it work for you?

[2020-04-17 13:14] #63 closed, assigned to nobody

[2020-04-17 13:14] abelal83 commented on #63
yep, thank you!

[2020-04-30 13:59] spikyjt opened #64 "Document options that can be set in environment variables"
As per #14 there are various environment variables that can be used to configure the agent. Only `SERVER_URL` is documented in the README, but it would really help when getting started if they were all documented.

From what I've seen in the startup script, I assume they are:
[code]
Perhaps there are others too?

In my set up, `AGENT_NAME` and `OWN_ADDRESS` were critical.

[2020-05-20 06:41] sprudel79 opened #65 "Issue with apt installer"
Hi everyone,
our Dockerfile to create a customized Teamcity Docker agents starts with the following lines:

`FROM jetbrains/teamcity-agent:latest`
`RUN apt-get update`
`...`

Trying to build the image results in the following error:

E: Could not open lock file /var/lib/apt/lists/lock - open (13: Permission denied)
E: Unable to lock directory /var/lib/apt/lists/

Docker version is 19.03.09 running

[2020-05-20 10:10] kir commented on #65
Hi, try inserting `USER root` before RUN instruction

Hope this helps,

[2020-05-20 11:42] sprudel79 commented on #65
Thanks @kir , it works now again.
But out of curiosity, was there any change in the base image that has caused this behaviour?

[2020-05-20 11:52] kir commented on #65
This happens due to this change: https://youtrack.jetbrains.com/issue/TW-65785
Glad it works again for you :)

[2020-05-20 12:03] sprudel79 commented on #65
Perfect, so it's crystal clear for me now.
Thanks again for the instant support.

[2020-05-20 12:03] #65 closed, assigned to nobody

[2020-05-20 12:05] Tijs-2 opened #66 "Docker does not start anymore with version 2020.1"
On the previous version we could start docker with the environment settings "DOCKER_IN_DOCKER" = True
For the new version (2020.1) it does not work anymore and we get the message " * Docker must be run as root"
So I think it has to do with the change that things are not started as root anymore and it tries to start Docker as a non root account.

Maybe it needs sudo rights to start the docker servi

[2020-05-20 13:40] Tijs-2 commented on #66
I made a fix for my image by adding this to my docker file:
[code]
And the run-docker.sh file I changed to
[code]

[2020-05-20 13:59] kir commented on #66
Hi,

The solution is to pass `-u 0` parameter for `docker run` command.
Previously docker agent image was running as root by default, it is not the case anymore.

Hope this helps,

[2020-05-20 14:06] Tijs-2 commented on #66
Not sure, because I use it in k8s, but does that mean the image runs as root again?
And does everything everything run in root again or only the docker part?

[2020-05-20 15:34] cculver opened #67 "Windows Docker Agent Building Windows Docker Images"
I'm running the latest version of Docker on Windows 10 and have it configured to use Windows containers. I've pulled down and am running the teamcity build agent as a docker image and have it configured to connect to the teamcity server correctly. Upon authorizing the build agent, it seems that I'm unable to assign this build agent to builds which are building windows docker containers. The agent

[2020-05-20 16:34] LennyCastaneda opened #68 "teamcity-agent docker image latest version jetbrains/teamcity-agent:2020.1 prevents installations as root"
The latest docker image for teamcity-agent actually never switches users for the image build. It just stays root for all commands.

The concept of introducing the setting and running user to a non-root one was published  a couple days ago. Great concept, but it's a killer for sure for any builds that need to install dependecy tools such as .NET Octo CLI.

The problem is also that it won't allow su

[2020-05-21 10:45] cculver commented on #67
Nevermind. It seems as if it uses the command prompt to detect the existence of docker and run operations on it rather than utilizing docker sockets. The solution was to install it as a windows service and it successfully found docker. As others had mentioned, I also configured the service to run under SYSTEM and set up dependencies on Docker's two services running on the computer.

[2020-05-21 10:45] #67 closed, assigned to nobody

[2020-05-27 12:48] kir commented on #64
Hi, I've added the corresponding section to https://hub.docker.com/r/jetbrains/teamcity-agent, please let me know if it faces your expectations

[2020-05-28 15:32] paksv commented on #66
Hi @Tijs-2, if you start your container with `runAsUser: 0`, the whole container will run as root, not just the docker part.

Looks like your solution is the least harming possible at the moment (please also note that teamcity agent image is based on `ubuntu` which doesn't include `sudo` by default and the fact it's there is just because we forgot to drop it from our [Dockerfile script](https://gi

[2020-05-28 15:36] paksv commented on #66
Actually, we are considering adding one more tag with `sudo` allowed (i.e. pretty much equal to your changes). Hopefully, that will solve the your problems for now

[2020-05-28 15:42] paksv commented on #68
Hi @LennyCastaneda, we are actually considering having a special tag for agent with nopasswd sudo allowed. I'll keep you posted

[2020-05-28 15:46] paksv commented on #61
Hi, probably not too much I can help here with. I would recommend you to start the base container interactively and run this command directly from shell. That would make the debugging installation process much easier.

[2020-05-28 15:46] #61 closed, assigned to nobody

[2020-05-28 15:49] paksv commented on #62
Hi, we probably don't want to spawn dosens of tags, so please feel free to create your own version of images with all necessary software installed.

[2020-05-28 15:49] #62 closed, assigned to nobody

[2020-06-02 12:39] Tijs-2 commented on #66
Well rootless-dind would probably be a nice solution.
But also if there is a new tag with sudo allowed I will try it and see if it can replace my own image. It would be nice because the less custom work there is on the image the better :)

Tijs

[2020-06-02 13:18] #64 closed, assigned to kir

[2020-06-02 13:28] spikyjt commented on #64
@kir thanks. Just one error, the `OWN_PORT` descriptions says:

Copy and paste error I guess? Should say:

[2020-06-02 17:05] kir commented on #64
@spikyjt Thanks a lot, corrected!

[2020-06-02 22:09] paksv commented on #66
https://youtrack.jetbrains.com/issue/TW-66322

[2020-06-02 22:09] #66 closed, assigned to paksv

[2020-06-02 22:09] paksv commented on #68
https://youtrack.jetbrains.com/issue/TW-66322

[2020-06-02 22:09] #68 closed, assigned to paksv

[2020-06-13 19:53] marcbarry commented on #58
+1

[2020-06-28 10:07] Schmazda opened #69 "How to import GnuPG keys?"
I wanted to auto-release my artifacts to Maven Central and for that I need to sign these artifacts. I already created and uploaded a GnuPG key for that but I don't know how to use this key in TeamCity.

I run both TeamCity Server and Agent in Docker containers on Ubuntu 18.04.

[2020-06-29 16:02] kir commented on #69
Hi,

 I suppose you should pass extra volume with your GPG directory when starting build agent via docker:
-v /home/builduser/.gnupg:/home/buildagent/.gnupg

  Hope this helps,

[2020-07-01 09:38] Schmazda commented on #69
It worked, thank you! Now I have to find out how to fix ` gpg: no default secret key: No secret key` xD

[2020-07-06 14:30] braunp opened #70 "agent container downloads update in loop"
Hi,
I am trying to set up a teamcity agent (version 2019.2.2 as the server instance is using that version) in my company cloud. I am able to start a container based on the image and able to connect to my server instance. however, the agent is restarted when the download is finished. On new startup the agents also starts to download everything again (in loop...)

Currently I dont get what I need to

[2020-07-07 09:43] kir commented on #70
Hi @braunp , sorry for the problem.

To investigate this we need buildAgent/logs from the build agent container. Do you have any custom TeamCity plugins installed on the server? Some improper packaging of such plugins may result in such a problem.

Another thing to try - run a TeamCity agent without docker - would it upgrade correctly without restart?

For further investigation and to provide logs

[2020-07-07 10:34] #69 closed, assigned to nobody

[2020-07-07 14:28] braunp commented on #70
Hi  @kir
I did check the logs and noticed that the issue is with missing permissions. I am trying to run the agent in an openshift environment and I cant run it as root.
I am wondering if this is currently possible with my environment and the agent setup.
I don't understand why I have an image but it is updated after starting the container/pod

[2020-07-07 14:37] kir commented on #70
Hi @braunp, try using the latest TeamCity build agent image. It runs under non-root user, and it should correctly downgrade if connected to the older TeamCity server version.

[2020-07-07 15:00] braunp commented on #70
Hi @kir
it the upgrade.log i found the following stacktrace. Running 2020.1.1 agent and 2019.2.2 server

`java.lang.NoClassDefFoundError: jetbrains/buildServer/agent/LauncherUtil$DeleteDecision
        at jetbrains.buildServer.agent.LauncherUtil.delete(LauncherUtil.java:213)
        at jetbrains.buildServer.agent.upgrade.AgentUpgrade.applyUpdates(AgentUpgrade.java:89)
        at jetbrains.buildSer

[2020-07-08 14:28] kir commented on #70
Hi, our team tested connecting newer teamcity-agent image to older teamcity-server - works fine (but outside K8S).
So there should be some other reasons for this error, related to you environment :(

To help with that we'll need logs from your agent and server instances. Please use our [issue tracker](https://youtrack.jetbrains.com/issues/TW) to create a ticket and provide the [corresponding detai

[2020-07-09 10:51] braunp commented on #70
Hi @kir
I need to check if I can get access to the server logs. I am not the "owner" of the server and I simply want to run my own agent.
We can close this issue for now and once I have the logs I will create a ticket in your issue-tracker
Many thanks for your help so far!

cheers
Patrick

[2020-07-09 11:40] kir commented on #70
Thanks, Patrick. Hope it will work out finally :)

[2020-07-09 11:40] #70 closed, assigned to nobody

[2020-07-16 11:25] frankschierle opened #71 "Mercurial missing in 2020.1.2 images"
Hi,
in my company we are using the TeamCity docker images provided by JetBrains as base images for our own images. I just upgraded our 2020.1.1 images to 2020.1.2. The only change i made, was to replace the base image: `FROM jetbrains/teamcity-agent:2020.1.1-windowsservercore` -> `FROM jetbrains/teamcity-agent:2020.1.2-windowsservercore`.

I discovered that Mercurial is missing in the 2020.1.2 ima

[2020-07-16 18:47] dmitry-treskunov commented on #71
Hi, we removed Mercurial from windows Docker images because BitBucket deprecated Mercurial repositories and removed the Mercurial installer which we used.

Please see our Upgrade notes: https://www.jetbrains.com/help/teamcity/upgrade-notes.html#UpgradeNotes-Changesfrom2020.1.1to2020.1.2

As a workaround consider using the previous version of the agent image if you need Mercurial (agents should aut

[2020-07-17 05:43] frankschierle commented on #71
Hi, thanks for the reply.

I have only read the Relase Notes - sorry, my fault.

As a workaround i installed Mercurial in our custom images using an installer provided by the Mercurial developers themselves. You can get it at https://www.mercurial-scm.org/release/windows/.
I think it would be an option to use these installers to bring back Mercurial support in future versions of your images.

Apar

[2020-07-17 10:03] dmitry-treskunov commented on #71
Thanks, we'll consider adding Mercurial back

And you are right, this repository is an obsolete one, we'll update it soon

[2020-08-07 09:34] #53 closed, assigned to nobody

[2020-08-10 04:20] bushshrub opened #72 "Permission issue when attempting to run in docker swarm"
Hi, I'm running TeamCity and TeamCity Agent in a Docker Swarm configuration and I'm seeing this error:

[code]

My compose configuration:

[code]

Results of the command `ls -l /srv/teamcity_agent: `

[code]

Any idea what could be causing this? TeamCity Server seems to be running fine so far

[2020-08-10 09:16] kir commented on #72
Looks like it is a bug for initial agent startup, when it tries to generation default configuration.
This happens when /srv/teamcity_agent/conf/ does not contain `buildAgent.properties` file.
Please try changing permissions for the /srv/teamcity_agent/conf/ directory to user buildagent (id: 1000).

[2020-08-10 23:49] bushshrub commented on #72
Should I be doing this within the container or on the volume I have mounted to it?

[2020-08-10 23:53] bushshrub commented on #72
To add on, I'm running docker as sudo, and `ls -l` on /srv/ tells me that the folder is owned by root:docker and has file permissions 770. I'm executing docker as sudo.

[2020-08-11 11:39] kir commented on #72
On the host system, /srv/teamcity_agent/conf/ should be writable by buildagent user. You're mounting it in your docker compose file: `/srv/teamcity_agent/conf:/data/teamcity_agent/conf`

[2020-08-11 12:55] bushshrub commented on #72
Got it working, thanks for the help.

[2020-08-11 12:55] #72 closed, assigned to nobody

[2020-08-16 17:21] JarFiles commented on #72
How did you fix it? Having the same problem here

[2020-08-17 02:15] bushshrub commented on #72
I went into the docker container and manually changed the permissions. This can probably be automated with a pre run shell script.

[2020-08-18 22:42] ghost commented on #71
How soon is soon? Just tried rebuilding our images and ran into the mercurial issue as well. It's been over a month since the last post.

If I can't trust this repository as a source of truth, then I'll work with our TeamCity account manager to fix that.

Update: Nevermind, I see that this repository was deprecated.

[2020-09-04 16:50] NikolayPianikov commented on #71
@brogers-navex sorry for delay, fixed and will be available next week

FYI: [new repo](https://github.com/JetBrains/teamcity-docker-images)

[2020-09-04 16:50] #71 closed, assigned to nobody

[2020-09-07 10:43] NikolayPianikov commented on #71
https://youtrack.jetbrains.com/issue/TW-67553

[2020-10-17 11:58] olegtarasenko commented on #72
Fix. Like @kir already wrote, on your **host** _(not container)_ system you need to give permission for `builagent` user because it simply doesn't have the required one for `cp` operation.
`chmod -R 777 <mounting dir>`

[2020-10-19 02:08] bushshrub commented on #72
775 might be safer

[2021-04-21 16:07] vssubs commented on #41
Is this directory mean to exists ? Or do you need to create it manually ? I cannot find this on any teamcity install I have ... ?

[2021-04-23 14:10] anthonypburns commented on #41
As far as I've found the directory does not exist.  I was able to get a docker image based on jetbrains/teamcity-agent to work with a required intermediate cert by using ADD in a dockerfile:
`ADD yourcert.pem /data/teamcity_agent/conf/trustedCertificates/yourcert.pem`

Unfortunately I can't figure out how to make this work on Windows as I'm trying to do now X:/BuildAgent/conf/trustedCertificates d

[2021-09-08 05:25] toth-istvan-zoltan opened #73 "Docker service fails to set ulimit"
We experiment with a teamcity installation in a rootless docker environment.

We have almost everything working, but the docker service fails to start inside the agent container.

When I try to start docker service manually, I get the following error:

[code]

I'm thinking about removing the `ulimit` from `/etc/init.d/docker` and add it to the docker container with the `--ulimit` parameter.

Have

[2021-09-08 06:27] toth-istvan-zoltan commented on #73
Update:

Commenting out these lines in the `/etc/init.d/docker` works. I'm not sure that it is a good solution because the comments mention performance issues but it starts docker at least.

[code]

[2021-09-08 06:27] #73 closed, assigned to nobody

[2021-09-27 13:54] MokhtarNajjar commented on #21
@ @ @

[2021-09-28 03:49] yang0916 commented on #72
I'm installing teamcity agent. It doesn't create a builagent user. How can I solve it? Do you need to create the builagent user manually

[2021-09-29 09:25] NikolayPianikov commented on #72
@yang0916 What docker image are you using? Please note that the actual repo is now here https://github.com/JetBrains/teamcity-docker-images

[2021-12-29 06:59] gauravcanon opened #74 "Generating Self Singed Certificated for TeamCity Agent & Connection to Teamcity Server in Docker"
We are evaluating Teamcity for an Enterprise solution.

What I am trying to achieve.

:white_check_mark:  Create and host Teamcity Server
:white_check_mark:  It is working with SSL able to access outside the home network
:white_check_mark:  Install Agent 1 and check the connection with the Teamcity server
✗  Agent SSL handshake with Teamcity Server

- I don't know how to set up an agent to talk to

[2022-01-24 09:49] bushshrub opened #75 "cgroups: cgroup mountpoint does not exist: unknown"
All builds fail with this error
[code]

`docker exec -it teamcity-agent-1 bash`:
[code]

Steps I've tried:
https://teamcity-support.jetbrains.com/hc/en-us/community/posts/4405053438354-cgroup-mountpoint-does-not-exist
Output:
[code]

https://github.com/docker/for-linux/issues/219#issuecomment-375160449
[code]

[2022-01-24 11:30] kir commented on #75
Looks like related: https://github.com/systemd/systemd/issues/13477

[2022-01-24 12:03] kir commented on #75
Looks like we need to upgrade docker version in the container: https://youtrack.jetbrains.com/issue/TW-74746

[2022-01-24 12:04] kir commented on #75
Created a ticket, upgrading docker-ce helps: https://youtrack.jetbrains.com/issue/TW-74746

[2022-01-24 14:43] bushshrub commented on #75
Workaround linked in the ticket working well.

[2022-02-11 18:47] rdelgado-incomm commented on #21
I know this is closed already but what ended up working is using the linux `source` command to update the bash profile during CI.  It is likely that TC was running under a different bash profile and we had to switch to a specific one.

[2022-02-11 18:48] rdelgado-incomm commented on #21
oh yeah, and I totally forgot that the env was not a docker container...it was a linux host. So maybe the above doesn't apply anyway 🤔

[2022-02-22 22:43] #32 closed, assigned to nobody

[2022-05-31 15:57] #75 closed, assigned to nobody

[2022-08-25 16:55] jwalzer commented on #41
So, to summarize as I understand it: It is still not possible to use the stock containers by simply dropping a file into `conf/trustedCertificates` ?
Is it still needed to wiggle with `TEAMCITY_AGENT_OPTS`  to get this working?

as of now I'm stuck in the same issue as above and what I see my evaluation of TC will fail on this :(

[2022-08-25 18:32] #55 closed, assigned to nobody